.team {
  background-color: #FAFAFA;
  padding: 120px 0 100px 0;
.team-grid {
  display: grid;
  grid-template-columns: 40% 60%;

  .title-box {
    position: relative;
    h3 {
      margin: 0;
      padding: 0;
    }
    .frame-wrapper {
      position: absolute;
      left: -425px;
      top: 170px;
      width: 430px;
      height: 460px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

    }
  }
  .main-content {
    .content-text {
      font-weight: 400;
      font-size: 24px;
    }
  .team-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin: 100px 0 25px 0;

  }
  }
}
}